@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*Navbar styling*/
*{
  margin:0;
  font-family: "Quicksand";
  color: black;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 150vh;
  margin: 0 auto;
  border-bottom: 1px solid black;
}
.navbar h1 {
  color:#63E09E ;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}


/* contact us page*/
.contact{
  max-width: 400px;
  margin: 5rem auto;
  text-align: center;
}
.contact label{
  text-align: left;
  display: block;
}
.contact h2{
  font-size: 20px;
  color: #63E09E;
  margin-bottom: 30px;
}
.contact input, .contact textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.contact button{
  background-color: #63E09E;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* service section*/

.container {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24858e;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  max-width: 600px;
  place-content: center;
}

.card {
  width: 290px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1.5s;
}

.card-front {
  background-color:  #0c4d53;
  color: white;
}

.card-back {
  background-color:  #0c4d53;
  color: white;
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(360deg);
}

